<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout/head :: head"></div>
<head>
    <meta charset="UTF-8">
    <title>Study Detail</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/style.css}" />
</head>
<body>
<div th:replace="layout/nav :: nav"></div>

<div class="container mt-5">
    <h1 class="detail-header" th:text="${list.title}">Study Title</h1><br>
    <hr>
    <br><br>
    <div class="detail-info">
        <div><dt>스터디 과목</dt>&nbsp;&nbsp;<dd th:text="${list.studySubject}">Subject</dd></div>
        <div><dt>진행 방식</dt>&nbsp;&nbsp;<dd th:text="${list.studyType}">Type</dd></div>
        <div><dt>모집 인원</dt>&nbsp;&nbsp;<dd th:text="${list.totalPeople}">0</dd></div>
        <div><dt>마감 날짜</dt>&nbsp;&nbsp;<dd th:text="${list.dueDate}">2023-01-01</dd></div>
        <div><dt>연락 방법</dt>&nbsp;&nbsp;<dd><a th:href="${list.contactLink}" th:text="${list.contactLink}" class="detail-link">Open Chat</a></dd></div>
    </div>
    <br><br><br><br>
    <div>
        <div>
            <h3 style="text-align: left; font-weight: bold;">스터디 소개</h3>
            <hr>
            <div id="contentBox" th:text="${list.content}">Content here</div>
        </div>
    </div>
</div>
<script>
    // 특정 글자 수마다 줄바꿈 추가 함수
    function addLineBreaks(selector, maxChars) {
        const element = document.querySelector(selector);
        if (element) {
            let text = element.innerText;
            let newText = '';
            for (let i = 0; i < text.length; i += maxChars) {
                newText += text.substring(i, i + maxChars) + '\n';
            }
            element.innerText = newText;
        }
    }

    // 페이지 로드 시 실행
    document.addEventListener('DOMContentLoaded', function() {
        addLineBreaks('#contentBox', 149); // 예: 10글자 마다 줄바꿈 추가
    });
</script>
</body>
</html>
